@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

:root.light {
  --primary: #F8F5E3;
  --linearStart: #F8F5E3;
  --secondary: #fffdf3;
  --secondarybrown: #aba085;
  --textPrimary: #6e6e6e;
  --reverseColor: #494336;
  --transparentLinearStart: 231,229,219,1;
  --transparentLinearEnd: 230,220,200,0.4;
}

:root.dark {
  --primary: #494336;
  --linearStart: #6b6965;
  --secondary: #9e9581;
  --secondarybrown: #494336;
  --textPrimary: #F8F5E3;
  --reverseColor: #F8F5E3;
  --transparentLinearStart: 73,72,67,1;
  --transparentLinearEnd: 75,73,60,0.4;
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-7xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: 'S-CoreDream-3Light', sans-serif !important;
}

.bg-clock {
  background-image: url('/images/clock.png');
}

header {
  background-color: var(--primary);
}

.linear-text {
  color: unset !important;
  text-decoration: none !important;
  background: linear-gradient(to right, var(--linearStart), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-reverse-color,
.ant-btn,
label[for="authenticate_email"],
label[for="authenticate_password"],
label[for="myPage_email"],
label[for="myPage_age"],
label[for="myPage_phone"],
label[for="myPage_birthday"],
label[for="myPage_birthday"],
label[for="myPage_sleepTime"],
label[for="myPage_wakeupTime"] {
  color: var(--reverseColor) !important;
}

.ant-btn {
  background-color: var(--primary) !important;
}

.ivory-text {
  color: var(--primary);
}

.roboto {
  -webkit-text-stroke: 1px var(--secondarybrown);
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important
}

.transparent-layer {
  background: linear-gradient(135deg, rgba(var(--transparentLinearStart)) 0%, rgba(var(--transparentLinearEnd)) 100%);
  border-radius: 4px;
}

section {
  height: calc(100vh - 48px);
  display: flex;
  align-items: center;
}

.ant-input {
  padding: 4px 11px;
  box-sizing: border-box;
  margin: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
}

.flight-card:hover {
  background-color: rgb(240, 242, 245);
  transition: all .2s;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.ant-input-disabled {
  color: #4a4a4a !important;
  background-color: rgb(227,227,227) !important;
}

#myPage .ant-input-number, #myPage .ant-picker {
  width: 100% !important;
}

#customer :where(.css-dev-only-do-not-override-omrqyq).ant-collapse>.ant-collapse-item >.ant-collapse-header {
  font-weight: bold;
}

#customer :where(.css-dev-only-do-not-override-omrqyq).ant-collapse>.ant-collapse-item >.ant-collapse-header,
#customer :where(.css-dev-only-do-not-override-omrqyq).ant-collapse .ant-collapse-content,
#customer .ant-collapse-header,
#customer .ant-collapse .ant-collapse-content,
#customer .ant-collapse {
  color: var(--reverseColor) !important;
}

button, [type='button'], [type='reset'], [type='submit'] {
  background-color: #d0c79b;
  background-image: unset;
}

img {
  visibility: visible !important;
}

.ant-result {
  padding: 8px !important;
}

.ant-result-title {
  color: var(--primary) !important;
}

.ant-result-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

#service .ant-input-number-input {
  text-align: center !important;
}

h1, h2, h3, h4, h5, h6, strong, input, span, a, p, legend, fieldset, label, table, th, td, tr, li, ul, ol {
  text-wrap: balance !important;
  transition: all .1s
}

[type='text']:focus,
input:where(:not([type])):focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  border-color: #dedbca !important;
  outline: unset !important;
  outline-offset: unset !important;
  box-shadow: unset !important;
}

@media (max-width: 576px) {
  header > #horizontal-nav {
    display: none !important;
  }
  header > #nav-button {
    display: flex !important;
  }

  .\!xs\:w-auto > div {
    padding: 0 !important;
  }
}

#header-drawer a, #header-drawer span, #header-drawer .ant-divider {
  color: var(--reverseColor) !important;
}

#header-drawer .ant-divider {
  border-top: 1px solid var(--reverseColor) !important;
  opacity: 0.5;
}

#header-drawer .ant-drawer-body {
  padding: 0.75rem;
}

#header-drawer .ant-select-selector {
  padding: 0;
}

#language-selector div, #language-selector span {
  color: var(--reverseColor) !important;
}

#language-selector svg {
  fill: var(--reverseColor) !important;
}

.ant-switch-inner-unchecked {
  position: relative;
  top: 6px;
}

.ant-switch-inner-checked {
  margin-top: 3px !important;
}
